In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score   
import random

###Pre-Processing

In [2]:
dataset = pd.read_csv('Creditcard_data.csv')

In [3]:
dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,1
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
dataset['Class'].value_counts()

0    763
1      9
Name: Class, dtype: int64

In [5]:
x = dataset.loc[:,dataset.columns!='Class']
y = dataset.loc[:,dataset.columns=='Class']

In [6]:
from imblearn.over_sampling import SMOTE
smote = SMOTE(random_state=20)
x_ros, y_ros = smote.fit_resample(x, y)

In [7]:
y_ros.value_counts()

Class
0        763
1        763
dtype: int64

In [8]:
x_ros['Class'] = y_ros

In [9]:
x_ros

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.620000,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.690000,1
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.660000,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.500000,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.990000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1521,570,1.188663,0.395442,0.269845,0.754613,-0.360972,-1.074427,0.043366,-0.179313,-0.039408,...,-0.271302,-0.805461,0.116195,0.342684,0.217704,0.096005,-0.016708,0.027574,1.265047,1
1522,458,-1.378415,0.903719,0.650896,1.423952,0.482082,-1.071988,-0.232504,0.347129,-0.997123,...,0.213046,0.178429,-0.325393,0.364176,0.278352,-0.248333,0.014497,-0.131462,0.674652,1
1523,524,-1.521014,0.145473,1.335792,-0.431345,0.932908,-0.455325,0.432813,0.060846,-0.020984,...,-0.113537,-0.064953,-0.260829,-0.070277,-0.140112,0.053979,-0.280521,-0.314360,1.000000,1
1524,557,0.898637,0.524393,0.114124,1.023299,-0.374328,-1.103598,-0.170433,-0.049168,-0.265628,...,-0.205977,-0.741638,0.068029,0.340821,0.203357,0.102785,0.006310,0.013420,1.160246,1
1525,336,0.572357,0.472556,0.390822,0.357470,0.325554,-0.304140,0.211205,-0.007857,-0.065125,...,-0.195358,-0.566748,0.141176,-0.644844,-0.710774,0.083407,0.124777,0.146246,1.116377,1

###Sampling 1 - Simple Random Sampling

In [ ]:
# Simple Random Sampling
simp_sample = x_ros.sample(n = 1067, random_state=42)

# x and y division
x = simp_sample.loc[:,simp_sample.columns!='Class']
y = simp_sample.loc[:,simp_sample.columns=='Class']

# Training-Testing Splitting
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

# Logistic Regression
from sklearn import linear_model
logr = linear_model.LogisticRegression()
logr.fit(x_train, y_train)
logr_pred = logr.predict(x_test)
score = accuracy_score(logr_pred, y_test)
print(score)

# Decision Tree Classifier
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()
dtree = dtree.fit(x_train, y_train)
dtree_pred = dtree.predict(x_test)
score = accuracy_score(dtree_pred, y_test)
print(score)

# SVM
from sklearn.svm import SVC  
svm = SVC() 
svm.fit(x, y) 
svm_pred = svm.predict(x_test)
score = accuracy_score(svm_pred, y_test)
print(score)

# Gaussian Naive Bayes
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(x_train, y_train)
gnb_pred = gnb.predict(x_test)
score = accuracy_score(gnb_pred, y_test)
print(score)

# KNN
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(x_train, y_train)
knn_pred = knn.predict(x_test)
score = accuracy_score(knn_pred, y_test)
print(score)

# Sampling 1 - Simple Random Sampling
sampling1 = [accuracy_score(y_test,logr_pred)*100,accuracy_score(y_test,dtree_pred)*100,
                                          accuracy_score(y_test,svm_pred)*100,accuracy_score(y_test,gnb_pred)*100,
                                          accuracy_score(y_test,knn_pred)*100]

In [11]:
conclusion1 = pd.DataFrame({'Models': ["Logistic Regression","Decision Tree","SVM","Gaussian Naive Bayes","KNN"],
                           'Accuracies': [accuracy_score(y_test,logr_pred)*100,accuracy_score(y_test,dtree_pred)*100,
                                          accuracy_score(y_test,svm_pred)*100,accuracy_score(y_test,gnb_pred)*100,
                                          accuracy_score(y_test,knn_pred)*100]})
conclusion1.sort_values('Accuracies', ascending=False).reset_index(drop=True)

                 Models  Accuracies
0         Decision Tree   96.254682
1   Logistic Regression   86.142322
2                   KNN   82.771536
3  Gaussian Naive Bayes   81.647940
4                   SVM   70.411985

###Sampling 2 - Stratified Sampling

In [ ]:
# Stratified Sampling
strat_sample = x_ros.groupby('Class', group_keys=False).apply(lambda x: x.sample(392,replace=True,random_state=42))

# x and y division
x = strat_sample.loc[:,strat_sample.columns!='Class']
y = strat_sample.loc[:,strat_sample.columns=='Class']

# Training-Testing Splitting
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

# Logistic Regression
from sklearn import linear_model
logr = linear_model.LogisticRegression()
logr.fit(x_train, y_train)
logr_pred = logr.predict(x_test)
score = accuracy_score(logr_pred, y_test)
print(score)

# Decision Tree Classifier
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()
dtree = dtree.fit(x_train, y_train)
dtree_pred = dtree.predict(x_test)
score = accuracy_score(dtree_pred, y_test)
print(score)

# SVM
from sklearn.svm import SVC  
svm = SVC() 
svm.fit(x, y) 
svm_pred = svm.predict(x_test)
score = accuracy_score(svm_pred, y_test)
print(score)

# Gaussian Naive Bayes
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(x_train, y_train)
gnb_pred = gnb.predict(x_test)
score = accuracy_score(gnb_pred, y_test)
print(score)

# KNN
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(x_train, y_train)
knn_pred = knn.predict(x_test)
score = accuracy_score(knn_pred, y_test)
print(score)

# Sampling 2 - Stratified Sampling
sampling2 = [accuracy_score(y_test,logr_pred)*100,accuracy_score(y_test,dtree_pred)*100,
                                          accuracy_score(y_test,svm_pred)*100,accuracy_score(y_test,gnb_pred)*100,
                                          accuracy_score(y_test,knn_pred)*100]

In [13]:
conclusion2 = pd.DataFrame({'Models': ["Logistic Regression","Decision Tree","SVM","Gaussian Naive Bayes","KNN"],
                           'Accuracies': [accuracy_score(y_test,logr_pred)*100,accuracy_score(y_test,dtree_pred)*100,
                                          accuracy_score(y_test,svm_pred)*100,accuracy_score(y_test,gnb_pred)*100,
                                          accuracy_score(y_test,knn_pred)*100]})
conclusion2.sort_values('Accuracies', ascending=False).reset_index(drop=True)

                 Models  Accuracies
0         Decision Tree   93.877551
1   Logistic Regression   90.816327
2  Gaussian Naive Bayes   87.244898
3                   KNN   78.061224
4                   SVM   65.306122

###Sampling 3 - Systematic Sampling

In [ ]:
# Systematic Sampling
sys_sample_df = x_ros.iloc[::5]

# x and y division
x = sys_sample_df.loc[:,sys_sample_df.columns!='Class']
y = sys_sample_df.loc[:,sys_sample_df.columns=='Class']

# Training-Testing Splitting
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

# Logistic Regression
from sklearn import linear_model
logr = linear_model.LogisticRegression()
logr.fit(x_train, y_train)
logr_pred = logr.predict(x_test)
score = accuracy_score(logr_pred, y_test)
print(score)

# Decision Tree Classifier
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()
dtree = dtree.fit(x_train, y_train)
dtree_pred = dtree.predict(x_test)
score = accuracy_score(dtree_pred, y_test)
print(score)

# SVM
from sklearn.svm import SVC  
svm = SVC() 
svm.fit(x, y) 
svm_pred = svm.predict(x_test)
score = accuracy_score(svm_pred, y_test)
print(score)

# Gaussian Naive Bayes
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(x_train, y_train)
gnb_pred = gnb.predict(x_test)
score = accuracy_score(gnb_pred, y_test)
print(score)

# KNN
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(x_train, y_train)
knn_pred = knn.predict(x_test)
score = accuracy_score(knn_pred, y_test)
print(score)

# Sampling 3 - Systematic Sampling
sampling3 = [accuracy_score(y_test,logr_pred)*100,accuracy_score(y_test,dtree_pred)*100,
                                          accuracy_score(y_test,svm_pred)*100,accuracy_score(y_test,gnb_pred)*100,
                                          accuracy_score(y_test,knn_pred)*100]

In [15]:
conclusion3 = pd.DataFrame({'Models': ["Logistic Regression","Decision Tree","SVM","Gaussian Naive Bayes","KNN"],
                           'Accuracies': [accuracy_score(y_test,logr_pred)*100,accuracy_score(y_test,dtree_pred)*100,
                                          accuracy_score(y_test,svm_pred)*100,accuracy_score(y_test,gnb_pred)*100,
                                          accuracy_score(y_test,knn_pred)*100]})
conclusion3.sort_values('Accuracies', ascending=False).reset_index(drop=True)

                 Models  Accuracies
0         Decision Tree   87.012987
1  Gaussian Naive Bayes   81.818182
2   Logistic Regression   79.220779
3                   SVM   66.233766
4                   KNN   64.935065

###Sampling 4 - Cluster Sampling

In [ ]:
# Cluster Sampling
def get_clustered_Sample(df, n_per_cluster, num_select_clusters):
    N = len(df)
    K = int(N/n_per_cluster)
    data = None
    for k in range(K):
        sample_k = df.sample(n_per_cluster)
        sample_k["cluster"] = np.repeat(k,len(sample_k))
        df = df.drop(index = sample_k.index)
        data = pd.concat([data,sample_k],axis = 0)
    random_chosen_clusters = np.random.randint(0,K,size = num_select_clusters)
    samples = data[data.cluster.isin(random_chosen_clusters)]
    return(samples)
clust_sample = get_clustered_Sample(df = x_ros, n_per_cluster = 20, num_select_clusters = 28)

# x and y division
x = clust_sample.loc[:,clust_sample.columns!='Class']
y = clust_sample.loc[:,clust_sample.columns=='Class']

# Training-Testing Splitting
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

# Logistic Regression
from sklearn import linear_model
logr = linear_model.LogisticRegression()
logr.fit(x_train, y_train)
logr_pred = logr.predict(x_test)
score = accuracy_score(logr_pred, y_test)
print(score)

# Decision Tree Classifier
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()
dtree = dtree.fit(x_train, y_train)
dtree_pred = dtree.predict(x_test)
score = accuracy_score(dtree_pred, y_test)
print(score)

# SVM
from sklearn.svm import SVC  
svm = SVC() 
svm.fit(x, y) 
svm_pred = svm.predict(x_test)
score = accuracy_score(svm_pred, y_test)
print(score)

# Gaussian Naive Bayes
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(x_train, y_train)
gnb_pred = gnb.predict(x_test)
score = accuracy_score(gnb_pred, y_test)
print(score)

# KNN
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(x_train, y_train)
knn_pred = knn.predict(x_test)
score = accuracy_score(knn_pred, y_test)
print(score)

# Sampling 4 - Cluster Sampling
sampling4 = [accuracy_score(y_test,logr_pred)*100,accuracy_score(y_test,dtree_pred)*100,
                                          accuracy_score(y_test,svm_pred)*100,accuracy_score(y_test,gnb_pred)*100,
                                          accuracy_score(y_test,knn_pred)*100]

In [17]:
conclusion4 = pd.DataFrame({'Models': ["Logistic Regression","Decision Tree","SVM","Gaussian Naive Bayes","KNN"],
                           'Accuracies': [accuracy_score(y_test,logr_pred)*100,accuracy_score(y_test,dtree_pred)*100,
                                          accuracy_score(y_test,svm_pred)*100,accuracy_score(y_test,gnb_pred)*100,
                                          accuracy_score(y_test,knn_pred)*100]})
conclusion4.sort_values('Accuracies', ascending=False).reset_index(drop=True)

                 Models  Accuracies
0   Logistic Regression   94.782609
1         Decision Tree   94.782609
2  Gaussian Naive Bayes   78.260870
3                   KNN   75.652174
4                   SVM   66.086957

### Final Result Table

In [18]:
models = ["Logistic Regression","Decision Tree","SVM","Gaussian Naive Bayes","KNN"]
final_table = pd.DataFrame()
final_table['Models'] = models
final_table['Simple Random'] = sampling1
final_table['Stratified'] = sampling2
final_table['Systematic'] = sampling3
final_table['Cluster'] = sampling4

In [19]:
final_table

                 Models  Simple Random  Stratified  Systematic    Cluster
0   Logistic Regression      86.142322   90.816327   79.220779  94.782609
1         Decision Tree      96.254682   93.877551   87.012987  94.782609
2                   SVM      70.411985   65.306122   66.233766  66.086957
3  Gaussian Naive Bayes      81.647940   87.244898   81.818182  78.260870
4                   KNN      82.771536   78.061224   64.935065  75.652174